.main {
    &__about {
        margin-top: 107px;
        margin-bottom: 150px;
    }

    &__about-body {
        position: relative;
        @include flex(space-between);
    }

    &__about-animation {
        max-width: 50%;
        p {
            @include font($OpenSans, 1.3em);
            color: $txtColor;
            text-align: center;
            margin-top: 10px;
            line-height: 130%;
        }
    }

    &__about-content {
        max-width: 50%;
        margin-left: 30px;
    }

    &__about-title {
        margin-bottom: 75px;
    }

    &__about-subtitle {
        margin-bottom: 60px;
    }

    &__about-txt {
        &:nth-last-child(1) {
            margin-bottom: 0px;
        }
        @include font($OpenSans, 1.4em);
        color: $txtColor;
        margin-bottom: 30px;
        letter-spacing: 0.4px;
        padding-right: 40px;
        line-height: 160%;
    }

    &__about-book {
        @include flex(center, center, column);
    }
    &__about-blog {
        text-align: center;
        @include flex(space-between);
    }
    &__about-phone {
        text-align: center;
        margin-left: 90px;
    }

    &__about-writer {
        margin-top: 50px;
        margin-right: 90px;
    }

    &__about-car {
        @include flex(center, center, column);
        margin-left: 70px;
    }
}
