@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-SemiBold.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "MullerBold";
    src: url("../fonts/MullerBold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MullerMedium";
    src: url("../fonts/MullerMedium.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MullerExtraBold";
    src: url("../fonts/MullerExtraBold.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MullerHeavy";
    src: url("../fonts/MullerHeavy.otf");
    font-weight: normal;
    font-style: normal;
}
