// ! header
$headerBcg: -45deg, rgb(160, 68, 255) 0%, rgb(106, 48, 147) 100%;
$headerPopupBcg: 0deg, rgb(160, 68, 255) 0%, rgb(106, 48, 147) 100%;
$headerPopupBoxShadow: 0px 23px 32px 0px rgba(81, 8, 86, 0.33);
$headerPopupBtn: #fb0275;
$headerBurger: #c9c9c9;
$headerBurgerColor: #5c5c5c;
$headerBurgerPhone: #4e4e4e;
$headerBodyBtn: #fb0275;
// ! main
$titleColor: #7f38bd;
$subtitleColor: #383d52;
$txtColor: #5e606a;
$serviceBcg: #faf8fb;
$serviceBtnBcg: #883eca;
$bigNumber: #faf8fb;
$bannerBcg: #faf8fb;
$borderColor: #9e9e9e;
$sliderLink: #3594dd;
$faqFormBcg: #883eca;
// ! footer
$footerIconsColor: #883eca;
$footerBcg: #65269d;

// ! fonts
$OpenSans: "OpenSans";
$MullerBold: "MullerBold";
$MullerMeduim: "MullerMedium";
$MullerExtra: "MullerExtraBold";
$MullerHeavy: "MullerHeavy";
